

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: sandybrown;
    position: fixed;
    top: 0;
    width: 100%;
}

.container li {
    float: left;
}

.container ul img {
    display: inline;
    margin-top: 5px;
    left: 1000px;
    position:relative;

}

.container li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 25px;
}

.container li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

.wrapper div p, h1{
    text-align: center;

}

.wrapper img{
    width: 400px;
    height: 300px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: sandybrown;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: black;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: black;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

th {
    background-color: sandybrown;
}

	
